.cover {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.fileModule {
    border: 1px solid grey;
    padding: 15px;
}
.uploadFile {
    width: 1050px;
    padding-bottom: 25px;
}

.helpBlock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.helpBlock a {
    text-decoration: none;
    /*color: black;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.divXLSX {
    width: 50px;
    height: 50px;
    margin: 5px 15px 5px 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../img/xlsx2.png");
}

.divConverter {
    width: 50px;
    height: 50px;
    margin: 5px 15px 5px 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../img/converter.png");
}

.btn {
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.wrap {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 10px;
    justify-content: center;
}

.fileModule p {
    font-weight: bold;
}

.fontSizeWrap {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;

}

.width {
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.width input {
    margin-left: 15px;
    text-align: center;
}

.height {
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.height input {
    margin-left: 15px;
    text-align: center;
}

.nameFont {
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.nameFont input {
    margin-left: 15px;
    text-align: center;
}

.priceFont {
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.priceFont input {
    margin-left: 15px;
    text-align: center;
}